
.game__players {
    display: flex;
    gap: 50px;
  }
  
  .game {
    padding: 20px;
  }
  
  .game__buttons {
    display: flex;
    gap: 5px;
    margin-top: 20px;
  }
  
  .game__button {
    padding: 12px 18px;
    font-size: 18px;
    font-weight: medium;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .game__button__hit {
    background-color: var(--brown);
    color: var(--light);
  }
  
  .game__button__stand {
    background-color: var(--black);
    color: var(--light);
  }
  